.container {
  max-width: 65vw;
  padding-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 100vw;
  }
}
